body{
    background: rgb(103,224,227);
    background: linear-gradient(90deg, rgba(103,224,227,1) 20%, rgba(232,237,120,1) 50%, rgba(144,211,117,1) 80%);
}

h1{
    color:rgb(4, 4, 69);
    margin-left:10px;
    margin-bottom:10px;
    font-size:55px;
    border:2px solid rgb(4, 4, 69);
    text-align:center;
}

h2{
    border:2px solid rgb(4, 4, 69);
    text-align:left;
    background-color: #FFFD74;
}

.link{
    text-decoration: none;
    color:antiquewhite;
    font-size:20px;
}

.h1-hobby{
    font-size: 55px ;
}

.h2-hobby{
    font-size: 35px ;
    color: rgb(4, 4, 69) ;
}

.h2-contact{
    font-size: 45px ;
    color: rgb(4, 4, 69) ;
}
.navigacija-mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .navigacija{
        background-color:  rgb(4, 4, 69);
        padding: 10px;
    }
    
    .navigacija-meni{
        display: flex;
        justify-content: space-between;
    }

    h1{
        font-size: 35px;
        background-color: #FFFD74;
    }
    p{
        color:rgb(4, 4, 69);
        background-color: #FFFD74;
        font-size:20px;
        border:2px solid rgb(4, 4, 69);
        padding:2px;
    }
    .link{
        color:#FFFD74;
    }
    .pic-uno{
        height: 150px ;
        width: 250px ;
    }
    
}

@media screen and (max-width: 1024px) {
    .navigacija{
       display: none;
    }
    
    .navigacija-mobile{
        display: block;
        position: relative;
    }

    .navigacija-meni-mobile{
        display: none;
        position: absolute;
        left: -10px;
        z-index: 100;
    }
    .link-mobile{
        font-size: 50px;
        text-decoration: none;
        color:#FFFD74
    }

    h1{
        font-size: 35px;
        background-color: #FFFD74;
    }
    p{
        color:rgb(4, 4, 69);
        background-color: #FFFD74;
        font-size:20px;
        border:2px solid rgb(4, 4, 69);
        padding:2px;
    }
    .link{
        color:#FFFD74;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .h2-contact{
        font-size: 20px;
    }
    .h2-hobby{
        font-size: 20px;
    }
    .h1-hobby{
        font-size: 40px;
    }

}

@media screen and (min-width: 769px) {

    .navigacija{
        background-color:  rgb(4, 4, 69);
        padding: 20px;
        
    }
    
    .navigacija-meni{
        display: flex;
        justify-content: space-between;
        margin: 0 120px;
    }

    h1{
        font-size: 55px;
        background-color: #FFFD74;
    }
    p{
        color:rgb(4, 4, 69);
        background-color: #FFFD74;
        font-size:35px;
        border:2px solid rgb(4, 4, 69);
        padding:2px;
    }
    .link{
        color:#FFFD74;
    }
}
img{
    height: 400px;
    width: 1000px;
}
div{
    text-align: center;
}

.DHMIS-pic{
    height:300px;
    width:300px;
}

.DHMIS-pic:hover{
    transform: scale(1.3);
}

.DHMIS-pic1{
    height:400px;
    width:300px;
}

.DHMIS-pic1:hover{
    transform: scale(1.3);
}

.DHMIS-pic3{
    height:400px;
    width:300px;
}

.DHMIS-pic3:hover{
    transform: scale(1.3);
}

.DHMIS-pic2{
    height:200px;
    width:350px;
}

.DHMIS-pic2:hover{
    transform: scale(1.3);
}

.DHMIS-artdump{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

